// component css goes here
nav {
    width: 300px;
    position: absolute;
    top: 0;
    bottom: 0;
    background: #669999;
    div {
        height: 100%;
        li {
            &:nth-child(1){
                margin-top: 100px;
            }
            list-style: none;
            display: flex;
            flex-direction: column;
            height: 50px;
            color: #FFCCFF;
            a {                
                cursor:pointer;
                text-align: center;
                color: #FFCCFF;
                &:link,
                 :visited,
                 :hover,
                 :active {
                    text-decoration: none;
                    color: #FFCCFF;
                }
            }
        }
    }
}